node_modules
**/node_modules
.git
.gitignore
**/.git
**/.gitignore
dist
**/dist
build
**/build
.next
**/.next
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo
*.log
**/*.log
docs
**/docs
README.md
.env
.env.*
**/.env
**/.env.*
!**/.env.example
docker-compose.yml
docker-compose.*.yml
.github
**/.github
.expo
**/.expo
.vscode
**/.vscode
.idea